<div id="logo"> Welcome to Rent MYNYC!!</div>
<br>
<br>

<div id="wrap">
      <h1 id="header">Listing Available</h1>
      
      <p id="listing"><%= link_to "Add a Listing!", new_house_path %></p>



     <% @houses.each do |house| %>
       <div class="post">
     
         <h4> <%= house.size %> </h4>
     
         <p> <%= house.location %> </p>
     
         <p> <%= house.address %> </p>
     
         <p> <%= house.contact  %> </p>

         <p style="color:yellow"> This listing was posted by: <%= house.user.name %> </p>


       </div>
       <br><br>
     <% end %>

     <p id="listing"><%= link_to "Add a Listing!", new_house_path %></p>
</div>