<!DOCTYPE html>
<html>
<head>
  <title>HousingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pics">
  <img src="/assets/advert1.jpg" width="90%">
  <img src="/assets/advert2.jpg" width="90%">
  <img src="/assets/advert3.jpg" width="90%">
</div>


	<p id="log_out">
   		<% if user_signed_in? %>
 	 	<li>
  	 	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  		 </li>
   		<% else %>
  	 	<li>
  	 	<%= link_to('Login', new_user_session_path)  %>  
 	 	</li>
   		<% end %>
	</p>

	<div>
	  <div>
  	  	<% if flash[:notice] %>
      		<p class="notice"><%= notice %></p>
  	  	<% end %>
  	  	<% if flash[:alert] %>
      		<p class="alert"><%= alert %></p>
  	  	<% end %>
	  </div>
	</div>


<%= yield %>

</body>
</html>
